/** Reescribir colores */
:root {
    --bs-blue: #037BC0;
    --bs-green: #8cbc00;
}
.text-blue {
    color: var(--bs-blue);
}

/*reglas generales*/
html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway';
    font-size: 1.6rem;
    line-height: 2;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair';
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-top: 1rem;
}

h2,
h3 {
    font-size: 4rem;
}

h4 {
    font-size: 1.2em;
}

img {

    background-size: cover;
    background-position: center;
}

/*Transiciones*/
/* .transition-collapse {
  transition: height 0.3s ease;
} */

/*Media Query*/

/*Headings*/
@media (max-width: 767.98px) {
    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2em;
    }

    /* h4 {
        font-size: 1.2em;
    } */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3rem;
    }

    h2,
    h3{
        font-size: 2.5rem;
    }

    /* h4 {
        font-size: 1.2em;
    } */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 3.5rem;
    }

    h2,
    h3{
        font-size: 3rem;
    }

    /* h4 {
        font-size: 1.3em;
    } */
}

/* @media (min-width: 1200px) {
     h1 {
        font-size: 4rem;
    }

    h2,
    h3{
        font-size: 3.5rem;
    }

    h4 {
        font-size: 1.5em;
    }
} */

/*Main*/
@media (max-width: 767.98px) {
    .main,
    .categories {
        padding: 0 1em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main,
    .categories {
        padding: 0 2em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main,
    .categories {
        padding: 0 3em;
    }
}

@media (min-width: 1200px) {
    .main,
    .categories {
        padding: 0 4em;
    }
}

/*Products*/
@media (max-width: 767.98px) {
    .product p {
        font-size: 0.8em;
    }

    .button-green {
        height: 3em;
    }
}

@media (min-width: 768px){
    .product h3~.button-green {
        height: 2.8em;
    }

    .col-md-4 h4~.button-green {
        font-size: 0.85em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .product p {
        font-size: 0.9em;
    }

    .product h3~span {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .product p {
        font-size: 1em;
    }

     .product h3~span {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .product p {
        font-size: 1.2em;
    }

    .product h3~span {
        font-size: 4rem;
    }
}

/*Footer*/
@media (max-width: 767.98px) {

    .links-container {
        gap: 2em;
    }
    
    footer h3 {
        font-size: 1.2em;
    }

    footer a {
        font-size: 0.7em;
    }

    footer .small {
        font-size: 0.6em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .links-container {
        gap: 3em;
    }

    footer h3 {
        font-size: 1.3em;
    }
    
    footer a {
        font-size: 0.8em;
    }

    footer .small {
        font-size: 0.7em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .links-container {
        gap: 4em;
    }
    
    footer h3 {
        font-size: 1.4em;
    }

    footer a {
        font-size: 0.9em;
    }

    footer .small {
        font-size: 0.8em;
    }
}

@media (min-width: 1200px) {
    .links-container {
        gap: 6em;
    }

    footer h3 {
        font-size: 1.5em;
    }

    footer a {
        font-size: 0.92em;
    }

    footer .small {
        font-size: 0.82em;
    }
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Hero*/
.hero {
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.hero img {
    display: block;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

/** Productos */
.products-container {
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}


.product-details {
    background-color: var(--bs-blue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.product span {
    font-size: 1.2em;
}

.button-green {
    background-color: var(--bs-green);
    border-color: green;
    border-radius: 7px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    /* margin-top: auto; */
}

/*Categorías*/
.categories-container {
    display: flex;
    gap: 1em;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}

.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.category:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}

.category a,
footer a {
    text-decoration: none;
    color: black;
}

/*Footer*/
/* footer{
     display: flex;
     gap:1em;
} */

.links-container {
    display: flex;
    justify-content: center;
    /* gap: 7em; */
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}

.links-group {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

