/*reglas generales*/
html{
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1,
h2,
h3,
h4{
    font-family: 'Playfair', sans-serif;
}

h1{
    font-size: 5rem;
}

h2,
h3{
    font-size: 4rem;
}

/*Media Query*/
.hero{
    background-image: url(principal.jpg);
    height: 65rem;/**/
    width: 100%;
    background-size: cover;
    background-position: center;
 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/** Reescribir colores */
.text-blue{
    color: #037BC0;
}
/** Productos */

.products,
.categories{
    padding: 0 3em;
}

.products-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: white;
}

.products-container,
.categories-container{
    gap: 1em;
}

.product{
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightgray; */
}

    .product img {
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }

    .product:nth-child(1) {
        grid-column: span 6;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
        /* .product:nth-child(1) img {
            flex: 3;
        }

        .product:nth-child(1) .product-details {
            flex: 2;
        } */

    .product:nth-child(2),
    .product:nth-child(3) {
        grid-column: span 3;
    }

    .product:nth-child(4),
    .product:nth-child(5),
    .product:nth-child(6) {
        grid-column: span 2;
    }

.product-details {
    background-color: #037BC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .product-details h4 {
        text-align: center;
    }


    .button-green {
    background-color: yellowgreen;
    border-color: green;
    border-radius: 7px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 3em;
}

.categories-container{
    display: flex;
}
.category{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .category img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .category a{
        text-decoration: none;
        color: black;
    }

footer nav a{
    text-decoration: none;
    color: black;
    
}

.links-container{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.links-group{
    text-align: center;
}